<!DOCTYPE html>
<html ng-app="nodeFileManager">
<head>
    <title>Node File Manager</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <meta charset="utf-8">
</head>
<body ng-controller="nodeFileManagerCtrl">
    <main ng-right-click>
        <button ng-click="back()">back</button>
        <ul class="files" ng-cloak>
            <li ng-repeat="file in fileList" ng-dblclick="defineAction(file)">
                <div>
                    <img ng-src="{{file.imgSrc}}">
                    <label>{{file.fileName}}</label>
                </div>
            </li>
        </ul>
    </main>
    <script src="../node_modules/angular/angular.min.js"></script>
    <!--<script src="./node_modules/angular2/bundles/angular2.sfx.dev.js"></script>-->
    <script src="index.js"></script>
</body>
</html>